/* CSS Reset */

*, html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, a:hover, button, img, i, ol, ul, li,
form,
article, aside, footer, header,
menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 0;
    text-decoration: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* font-size: 10px; */
    /* font-family: 'Open Sans', sans-serif; */
    color: inherit;
    background-color: transparent;
     /*border: 1px solid black;*/
}

select {
    outline: none !important;
}


/* BASE STYLES ========================================= */

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

section {
    background: #6a6361;
    height: 30em;
}

li {
    list-style: none;
}

.cont-column {
    display: flex;
    flex-direction: column;

}


/* QUESTIONS PAGE ========================================= */


main {
    margin: 0 auto;
    width: 375px;
    height: 667px;
    background-color: #88D7FF;
}

.top {
    margin: 0 auto;
    width: 90%;
    min-height: 73vh;
    background-color: white;
    border-radius: 1.4em;
}

img {
    margin: 1em;
    width: 90%;
}

.question {
    display: block;
    padding-top: 1em;
    text-align: center;
}

.qtext {
    height: 20%;
    text-align: center;
    font-size: 1em;
    padding: 1em 1em;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8) /* font-family: 'Open Sans', sans-serif; */;
}

.option a {
    text-decoration: none;
    padding: 1.4em;
    background-color: white;
    border-radius: 1.8em;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: #000;
    font-weight: 800;
    margin: 1em;
    width: 100;
    justify-content: center;
    display: block;
}

/* pink */
.answer a {
    text-decoration: none;
    padding: 1.4em;
    background-color: #F05EA1;
    border-radius: 1.8em;
    color: white;
    margin: 1em;
    width: 100;
    justify-content: center;
    display: block;
}

small {
    font-weight: bold;
    text-align: center;
    color: #F05EA1;
}


.swipe {
    display: flex;
    justify-content: center;
    padding-top: 4em;
}

.bg-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}